package main

// go build
// ./${PROJECT_NAME}

import (
    "fmt"
)

// Time Complexity: O(?), Space Complexity: O(?)
func Solution(A []int) int {
    fmt.Printf("%v\n", A)
    return len(A)
}

func main() {
    A := []int{}
    result := Solution(A)
    fmt.Printf("%v\n", result) // Output: 0
}
