#!/usr/bin/env python3
# -*- coding:utf-8 -*-

# python3 main.py

# import re
# import sys
# import math
# import random
# import os
# import collections
# import itertools

# Time Complexity: O(?), Space Complexity: O(?)
def solution(A: List[int]) -> int:
    return len(A)


if __name__ == '__main__':
    A = []
    result = solution(A)
    print(result)  # Output: 0
