#!/usr/bin/env python3
# -*- coding:utf-8 -*-

# python3 -m pytest -s -v test_main.py

# import os
from typing import List
import pytest
from main import solution


@pytest.mark.parametrize(
    "A, expected",
    [([], 0), ([1], 1), ([1, 2, 3], 3)],
)
def test_solution(A: List[int], expected: int):
    got = solution(A)
    assert got == expected
