"use strict";

// import { expect } from "@jest/globals";
import { solution } from "../src/main";

describe("TestSuitMain", function () {
  it("test_case_01", function () {
    let A: number[] = [];
    let want: number = 0;
    expect(solution(A)).toStrictEqual(want);
  });
  it("test_case_02", function () {
    let A: number[] = [];
    let want: number = 0;
    expect(solution(A)).toStrictEqual(want);
  });
  it("test_case_03", function () {
    let A: number[] = [];
    let want: number = 0;
    expect(solution(A)).toStrictEqual(want);
  });
});
