"use strict";

// import { expect } from "@jest/globals";
import { solution } from "../src/main";

describe("TestSuitMain", function () {
  it("test_case_01", function () {
    expect(solution(1)).toBe(0);
  });
  it("test_case_02", function () {
    expect(solution(2)).toBe(0);
  });
  it("test_case_03", function () {
    expect(solution(3)).toBe(0);
  });
});
