// - [](<https://doc.rust-lang.org/rust-by-example/index.html>)
// - [](<https://github.com/rust-lang/book>)

pub fn hello_func(arr: &mut [i32]) -> usize {
   println!("{:?}", arr);
   return arr.len();
}

fn main(){
   // Print text to the console
   println!("Hello World!");

   let mut arr: [i32;0] = [0;0];
   let result = hello_func(&mut arr);
   println!("{:?}", result); // 0
}

#[cfg(test)]
mod main_tests;
