// - [](<https://doc.rust-lang.org/rust-by-example/index.html>)
// - [](<https://github.com/rust-lang/book>)
// - [](<https://programming-idioms.org/idiom/76/binary-digits-from-an-integer/629/rust>)

pub fn solution(n: i32) -> i32 {

    return 0;
}

fn main() {
    let n = 1; // 0
    let result = solution(n);
    println!("{:?}", result); // 0
}

#[cfg(test)]
mod main_tests;