// - [](<https://doc.rust-lang.org/cargo/commands/cargo-test.html>)
// - [](<https://doc.rust-lang.org/cargo/guide/test.html>)
// - [](<https://doc.rust-lang.org/rust-by-example/testing/unit_testing.html>)
// - [](<https://doc.rust-lang.org/book/ch11-00-testing.html>)
// - [](<https://github.com/rust-lang/book>)

use super::*;

#[test]
fn test_case_01() {
    let n: i32 = 1;
    let want: i32 = 0;
    assert_eq!(solution(n), want);
}

#[test]
fn test_case_02() {
    let n: i32 = 2;
    let want: i32 = 0;
    assert_eq!(solution(n), want);
}

#[test]
fn test_case_03() {
    let n: i32 = 3;
    let want: i32 = 0;
    assert_eq!(solution(n), want);
}